/* 
	remove sidebar column 
*/
body {

    [data-testid="sidebarColumn"] {
        display: none !important;
    }
    
    [data-testid="primaryColumn"] {
        max-width: 748px;

        .r-1ye8kvj {
            max-width: 100%;
        }
    }
    
}
